<div id="footer" class="row">
  <div class="col-4" style="text-align: center;">
    @Html.ActionLink("Home", "Index", "Home")
  </div>
  <div class="col-4" style="text-align: center;">
    @Html.ActionLink("Engineers", "Index", "Engineers")
  </div>
  <div class="col-4" style="text-align: center;">
    @Html.ActionLink("Machines", "Index", "Machines")
  </div>
</div>